{{define "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nouns</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- managed css -->
    <link rel="stylesheet" href="/resource/css/uikit.min.css" />
    
    <!-- managed scripts -->
    <script src="/resource/js/uikit.min.js"></script>
    <script src="/resource/js/uikit-icons.min.js"></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>

    <!-- custom scripts -->
    <!-- <script src="/resource/js/game.js"></script> -->

    <style>
        nav {margin: -1rem;}
        body {margin: 1rem;}
    </style>

</head>
{{end}}