{{template "header"}}

<body>
    {{template "nav"}}
    <div class="uk-padding">
    <h2>Let's Play!</h2>
    <hr>

        <form action="/join" method="post" class="uk-grid-small">
            <fieldset class="uk-fieldset">
        
                <legend class="uk-legend">Create or join a room to start.</legend>

                <div class="uk-margin">
                    <label for="nickname">Name:</label>
                    <input type="text" 
                        name="nickname" 
                        placeholder="Enter in a name" 
                        class="uk-input" 
                        required><br>
                </div>
        
                <div class="uk-margin">
                    <label for="room">Room:</label>
                    <input type="text" 
                        name="room" 
                        placeholder="Leave blank to create a room" 
                        class="uk-input"><br>
                </div>
    
                <div class="uk-margin">
                    <button id="create-btn" 
                        type="submit" 
                        value="create" 
                        class="uk-button uk-button-primary">Play</button>
                </div>
    
            </fieldset>
        </form>
    </div>
</body>

{{template "footer"}}