{{template "header"}}

<body>
    {{template "nav"}}
    
    <h1>Let's Play Nouns</h1>
    <hr>

        <form action="/join" method="post">
            <fieldset class="uk-fieldset">
        
                <legend class="uk-legend">Leave room number blank to create a room.</legend>
    
                <div class="uk-margin uk-form-width-large">
                    <label for="nickname">Name:</label>
                    <input type="text" 
                        name="nickname" 
                        placeholder="Enter in a name" 
                        class="uk-input" 
                        required><br>
                </div>
        
                <div class="uk-margin uk-form-width-large">
                    <label for="room">Room:</label>
                    <input type="text" 
                        name="room" 
                        placeholder="Room Number" 
                        class="uk-input"><br>
                </div>
    
                <div class="uk-margin uk-form-width-large">
                    <button id="create-btn" 
                        type="submit" 
                        value="create" 
                        class="uk-button uk-button-primary">Play</button>
                </div>
    
            </fieldset>
        </form>

</body>

{{template "footer"}}