{{define "submit"}}

<!-- submit modal -->
<div id="noun-submit-modal" uk-modal bg-close="false">
    <div class="uk-modal-dialog uk-modal-body">

        <form id="noun-form"
            method="post" 
            action="/submit" 
            class="">

            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Submit a Person/Place/Thing</legend>

                <div class="uk-margin">
                    <label for="person">Person:</label>
                    <input type="text" 
                        id="person" 
                        name="person" 
                        placeholder="Name a person or character" 
                        class="uk-input"
                        required ><br>
                </div>

                <div class="uk-margin">
                    <label for="place">Place:</label>
                    <input type="text" 
                        id="place" 
                        name="place" 
                        placeholder="Name a place or location" 
                        class="uk-input"
                        required ><br>
                </div>

                <div class="uk-margin">
                    <label for="thing">Thing:</label>
                    <input type="text" 
                        id="thing" 
                        name="thing" 
                        placeholder="Name any item, animal, etc.." 
                        class="uk-input"
                        required ><br>
                </div>

                <div class="uk-margin">
                    <input type="submit" 
                        id="send-btn"
                        name="Submit"
                        class="uk-button uk-button-primary">
                </div>

            </fieldset>
        </form>

    </div>
</div>

<script>
    $(document).ready(function () { 

        // send button handler
        UIkit.util.on('#send-btn', 'click', function (event) {

            event.preventDefault();
            event.target.blur();

            let person = $('#person').val();
            let place = $('#place').val();
            let thing = $('#thing').val();

            //  quick form validation
            if (!$('#noun-form')[0].checkValidity()) {

                if (!person) { $('#person').addClass('uk-form-danger'); }
                if (!place) { $('#place').addClass('uk-form-danger'); }
                if (!thing) { $('#thing').addClass('uk-form-danger'); }

                return;
            }

            doSendNoun( {person, place, thing} );

            UIkit.modal($('#noun-submit-modal')).hide();
            $('#start-btn').prop('disabled', false);
        });

        // pops the modal for the user to submit their nouns
        UIkit.modal($('#noun-submit-modal')).show();

        // submit the nouns to the game room
        function doSendNoun(nouns) {

            if (!this.conn) { return; }

            let envelope = JSON.stringify(
            {
                type: 'submit',
                body: nouns,
            });

            this.conn.send(envelope);
        }

    });
</script>

{{end}}